.custom-dropdown,
.form-select,
 .form-select:focus {
  box-shadow: none;
  border: none;
  outline: none; /* Remove the outline */
  background-color: #d9d9d9;
  border-radius: 0px;
  border-color: #d9d9d9;
}

.ant-select,.ant-select-outlined {
  background-color: #d9d9d9 !important;
}
.ant-select:hover,
.ant-select-outlined:hover {
  border-color: #d9d9d9 !important;
}