
footer{
    background: #1E1E1E;
    color: white;
}

.footer-listitem{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-self: left;
}
.footer-listitem:hover{
    color: #ffc107;
}
.footer-listitem:active{
    color: #ffc107;
}

.store-list-item {
    padding: 8px;
    margin: 4px;
}
.store-list-item a{
    text-decoration: none;
    color: white;
    padding: 16px;
    font-weight: bold;
    width: '100%';
    border:1px solid white;
    border-radius: 8px;
}
.store-list-item a:hover{
    border-color: #ffc107;
}
.store-list-item a img{
    margin-bottom: 8px;
    margin-right: 4px;
    width:40px;
}
.bottom{
    text-decoration: none;
    color: #ffc107;
    margin-right: 8px;
}