.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 99999;
    top:  56px;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
  }
.separator{
  font-weight: bold;
  border-top: 1px solid rgb(27, 27, 27);
  margin: 4px;
}

.accordion{
  transition: 0.5s;
  margin: 8px;
  margin-top: 0px;
  margin-left: 32px;
  padding: 0px;
  background-color: transparent;
  height: 0px;
}
.accordion .item{
  margin: 0px;
  width: 96%;
  transition: 0.25s;
  visibility: hidden;
}

