/* OpenSans.css */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); /* Adjust the file path */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Define @font-face rules for other font variations if applicable */
  