.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-control{
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  text-decoration: none;
  border: 2px solid #ffc107;
}
/* Styles for the input border on hover */
.ant-input{
  border-width: 2px !important;
}
.ant-select-selection-item {
  color: black !important;
}
.ant-input-number,
.ant-input-number-outlined {
  border-width: 2px !important;
  border-color: #282c34 !important;
}
.ant-input:hover,
.ant-input:focus,
.ant-input-number-outlined:hover,
.ant-input-number-outlined:focus,
.ant-input-number-outlined:active{
    box-shadow: none !important;
    border-color: #ffc107 !important;
    outline: none;
}


.ant-btn,.ant-input-group-addon {
  border-width: 2px !important;
  background-color: #ffc107;
  cursor: pointer;
}

/* Styles for the button on hover ant-btn-primary */
.ant-btn:hover,
.ant-input-group-addon:hover {
  color: black  !important;
  background-color: white !important;
  border-width: 2px !important;
  border-color: #ffc107 !important;
}

/* Styles for the button icon on hover */
.ant-btn:hover .anticon,
.ant-btn:focus .anticon,
.ant-btn:active .anticon,
.ant-input-group-addon:hover .anticon,
.ant-input-group-addon:focus .anticon,
.ant-input-group-addon:active .anticon {
  
  color: black !important; /* Change icon color to black on hover, focus, and active */
}
.ant-pagination-item:hover,
.ant-pagination-next:hover,
.ant-pagination-previous:hover {
    background-color: #ffe8a1 !important;
}
.ant-pagination-item-active {
    border-color: #ffc107 !important;
}
.ant-pagination-item-active a {
    color: black !important; /* Change text color of active pagination item to black */
}
.ant-pagination-item-ellipsis {
    color: #ffe8a1 !important; /* Change color of ellipsis to match background */
}
.ant-pagination-item-link-icon,
.anticon-down,
.anticon-up {
    color: #ffc107 !important; /* Change color of pagination icon */
}
.ant-space{
  background-color: #f9f9f9 !important;
}
.ant-space-item{
  width: 100%;
}
.ant-checkbox-checked{
  color: black !important; /* Change text color of active pagination item to black */
}
.swiper-button-prev,
.swiper-button-next{
  color: #ffc107 !important; /* Change color of pagination icon */
}