/* 
home page
 */
 .bg-home {
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
 .home-background {
  content: '';
  border-bottom-left-radius: 10% 6%;
  border-bottom-right-radius: 50% 70%;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #ffc107;
  height: 40%;
}
.segmented-wrapper {
  position: fixed;
  top: 58px;
  left: 2%;
  left: 50%; /* Move the element to the center horizontally */
  transform: translateX(-50%); /* Adjust for half of the element's width */
  z-index: 1000; /* Adjust the z-index as needed */
  padding: 4px 4px; /* Optional: Add padding for spacing */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Add a shadow for depth */
  width: 335px;
}

.demo-loadmore-list {
  min-height: 350px;
}



/* ResponsiveHeader.css */
.header {
  background: #fff9c4;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logo {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  background: transparent;
  border-bottom: none;
  display: flex;
  align-items: center;
}


.menu-links {
  display: flex;
  justify-self: right;
  align-items: center;
}

.header-link {
  margin-right: 20px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.header-link:hover{
  background-color: #ffc107;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover{
  background-color: #ffc107;
  color: #000;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.btn-login {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 10px;
  }

  .logo {
    font-size: 20px;
  }

  .menu-item {
    font-size: 16px;
  }

  .menu-links {
    display: none;
  }
}

/* body---- */

.header-bottom {
  display: none; /* Hide by default */
}

@media (max-width: 768px) {
  .header-bottom {
    display: block; /* Show on mobile */
  }
}

.ant-segmented,
.ant-segmented-group{
    background-color: #ffc107 !important;
}
.segmented-wrapper {
  position: fixed;
  bottom: 0;
  top: 90vh;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  max-height:fit-content;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  transform: translateX(-50%); /* Adjust for half of the element's width */

}


.segmented-wrapper .ant-segmented-item {
  flex: 1;
  text-align: center;
  border-radius: 4px;
  color: #333;
}

.segmented-wrapper .ant-segmented-item .ant-segmented-item-label{
  padding: 2px;
}
.segmented-wrapper .ant-segmented-item-selected{
  background-color: #fff ;
  border-radius: 4px;
  color: #000;
  
}

.segmented-wrapper .ant-segmented-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.segmented-wrapper .ant-segmented-item-content .anticon {
  font-size: 18px;
}

.segmented-wrapper .ant-segmented-item-content .ant-segmented-item-text {
  margin-top: 4px;
  font-size: 12px;
}

@media (min-width: 769px) {
  .segmented-wrapper {
    display: none;
  }
}
.posters,
.categories,
.new-releases {
  /* Ensure the element scrolls */
  display: flex;
  overflow: scroll;
  padding: 10px 0;
}

.posters::-webkit-scrollbar,
.categories::-webkit-scrollbar,
.new-releases::-webkit-scrollbar {
  display: none;
}

/* Optional: Also hide scrollbar for other parts if needed */
.posters::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb,
.new-releases::-webkit-scrollbar-thumb {
  display: none;
}

.posters::-webkit-scrollbar-track,
.categories::-webkit-scrollbar-track,
.new-releases::-webkit-scrollbar-track {
  display: none;
}

.recommended-card {
  margin: 0px;
  padding: 2px !important;
}
/* footer */
.footer{
  margin-top: auto;
}
/* @media (max-width: 768px) {
  .footer {
    display: none;
  } 
} */
.ant-layout-footer{
  background: #1E1E1E;
  color: white;
}
.footer-title{
  font-size: 30px;
  color: #ffc107;
  margin:0px;
}
.footer-list{
  text-decoration: none;
  list-style-type: none;
  margin-left:-40px;
}

.footer-list-header{
  font-size: 20px;
  margin-bottom: 6px;
}

.footer-listitem{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-self: left;
  width:fit-content;
  margin: 2px;
  color:#fff;
  font-size: 14px;
}
.footer-listitem:hover{
  color: #ffc107;
}
.footer-listitem:active{
  color: #ffc107;
}
.store{
  border: 1.5px solid white;
  border-radius: 8px;
  padding: 12px;
  text-decoration: none;
  color: white;
}

/* profile page-------------- */
.profile-page {
  height: 100vh;
}

.header {
  background-color: #f0f2f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.username {
  margin: 0 10px;
}

.header-right {
  font-size: 24px;
}

.settings-icon {
  cursor: pointer;
}

.content {
  margin-top: 12px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.ant-list-item-meta-title a {
  font-size: 16px;
  color: #1890ff;
}


.ant-btn {
  border-color: #ffc107;
  background-color: #ffc107;
  height: 40px;
  min-width: 40px;
  cursor: pointer;
}
/* Styles for the button on hover ant-btn-primary */
.ant-btn:hover {
  color: black !important;
  background-color: white !important;
  border-color: #ffc107 !important;
}

/* Styles for the button icon on hover */
.ant-btn:hover .anticon,
.ant-btn:focus .anticon,
.ant-btn:active .anticon {
  color: black !important; /* Change icon color to black on hover, focus, and active */
}

/* input */
.ant-input-outlined,
.form-control{
  padding: 8px !important;
  border: 1.5px solid #fff !important;
  border-radius: 4px !important;
  cursor: pointer;
}
.ant-select {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border: 2px solid #fff !important;
  border-radius: 4px !important;
  height: 62px;
  width: 100%;
  cursor: pointer;
}
.ant-select-focused .ant-select-selector,
.ant-select-selector:hover,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  box-shadow: none !important;
  border: 1.5px solid #ffc107 !important;
}



.filtericon{
  background-color: #fff;
  border-radius: 4px !important;
  cursor: pointer;
}


.ant-list-item{
  padding: 2px !important;
}
.list-icons {
  margin-top: 0px; /* Default for mobile */
}

.recharts-wrapper{
  width:'100%';
  height:'100%';
}

.miles-input{
  border: 1.5px solid lightgrey !important;
}

.ant-card{
  border-radius: 4px !important;
  cursor: pointer;
}
.ant-card:hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.ant-pagination-item:hover,
.ant-pagination-next:hover,
.ant-pagination-previous:hover {
  background-color: #ffc107 !important;
  color: white !important;
}
.ant-pagination-item-active {
  border-color: #ffc107 !important;
}

.ant-pagination-item-ellipsis {
  color: #fceec6 !important; /* Change color of ellipsis to match background */
}
.ant-pagination-item-link-icon {
  color: #ffc107 !important; /* Change color of pagination icon */
}

/* Chat Room------------------------ */
.chat-room {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.user-details {
  margin-left: 10px;
  cursor: pointer;
}

.chat-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #fafafa;
  margin-bottom: 10px;
}

.message {
  margin: 10px 0;
}

.message.sent {
  text-align: right;
}

.message.received {
  text-align: left;
}

.message span {
  background-color: #e6f7ff;
  padding: 10px;
  border-radius: 5px;
}

.message.received span {
  background-color: #f0f0f0;
}

.message-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
}

.message-input {
  flex: 1;
  margin-right: 10px;
}
