/* Styles for the default state of the button */
/* Navbar */

.navbar {
  padding-bottom: 1px;
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 99990;
}

.nav-header {
  background-color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
}

.logo {
  width: 200px;
  float: left;
}

.logo-img  {
  margin-top: 8px;
  margin-left: -8px;
  margin-right: 8px;
}
.logo-text{
  margin-left: 8px;
  font-weight: 400;
  color: black;
  font-size: 24px;
}

.navbar-menu {
  margin-right: 8px;
  float: right;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .nav-links {
  float: left;
}

.navbar-menu .rightMenu {
  float: right;
}

.nav-link{
  margin: 6px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid transparent;
  color: black;
  font-size: 14px;
}
.nav-link:hover{
  border-color: #ffc400;
  background-color: #ffc400 !important;
  color:black !important;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .nav-links,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
}

/* Navbar End */





.ant-menu-item-active::after {
  color: aqua !important;
}
.ant-menu-title-content a:hover{
  color: #ffc107 !important;
}

.ant-btn {
  border-color: #ffc107;
  background-color: #ffc107;
  cursor: pointer;
}

/* Styles for the button on hover ant-btn-primary */
.ant-btn:hover {
  color: black  !important;
  background-color: white !important;
  border-color: #ffc107 !important;
}

/* Styles for the button icon on hover */
.ant-btn:hover .anticon,
.ant-btn:focus .anticon,
.ant-btn:active .anticon {
  color: black !important; /* Change icon color to black on hover, focus, and active */
}

/* Styles for the input border on hover */
.ant-input:hover,
.ant-input:focus {
  box-shadow: none !important;
  border-color: #ffc107 !important;
}

.ant-pagination-item:hover,
.ant-pagination-next:hover,
.ant-pagination-previous:hover {
  background-color: #ffefb8 !important;
}
.ant-pagination-item-active {
  border-color: #ffc107 !important;
}
.ant-pagination-item-active a {
  color: black !important; /* Change text color of active pagination item to black */
}
.ant-pagination-item-ellipsis {
  color: #ffefb8 !important; /* Change color of ellipsis to match background */
}
.ant-pagination-item-link-icon {
  color: #ffc107 !important; /* Change color of pagination icon */
}



.ant-layout-footer{
  background: #1E1E1E;
  color: white;
}
.footer-title{
  font-size: 30px;
  color: #ffc107;
  margin:0px;
}
.footer-list{
  text-decoration: none;
  list-style-type: none;
  margin-left:-40px;
}

.footer-list-header{
  font-size: 20px;
  margin-bottom: 6px;
}

.footer-listitem{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-self: left;
  width:fit-content;
  margin: 2px;
  color:#fff;
  font-size: 14px;
}
.footer-listitem:hover{
  color: #ffc107;
}
.footer-listitem:active{
  color: #ffc107;
}

.store{
  text-decoration: none;
  color: white;
  padding: 6px;
  margin: 6px;
  width: '100%';
  min-width: 120px;
  border:1px solid white;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
}
.store :hover{
  border-color: #ffc107 !important;
  color: #ffc107 !important;
}

.store img {
  width: 40px;
  margin-right: 4px;
}

.bottom{
  text-decoration: none;
  color: #ffc107;
  margin-right: 8px;
  align-self: center;
}
.bottom:hover{
  color:#fff;
}
.bottom-col small{
  align-self: center;
}