main{
    min-height: 80vh;
}

header{
    position: absolute;
    z-index: 1;
    background: none;
}

.showcase{
    
    position: relative;
}

.showcase img{
    width: 100%;
    height: auto;
    filter: brightness(45%);
}

.showcase .text{
    position: absolute;
    color: white;
    top: 20%;
    /* left: 60px; */
    /* width: 60%; */
   
    
}

.showcase a{
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
   
}

footer{
    background: #1E1E1E;
    color: white;
}

footer ul{
    list-style-type: none;
  
}

footer a{
    text-decoration: none;
    color: white;
}