.chat-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: '60vh';
}

.message-container {
  overflow-y: auto;
  padding-top: 16px; /* Add spacing from the top */
  
}

.message {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end; /* Align messages sent by current user to the right */
  max-width:'10px';
}

.received {
  background-color: #f0f0f0;
  align-self: flex-start; /* Align messages received from other users to the left */
  width:'20px';
}

.sender {
  font-weight: bold;
  margin-right: 8px; /* Add margin to the sender's name */
}

.input-container {
  margin-top: 16px;
  display: flex;
}

.input-message {
  flex: 1;
}



  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #ccc;
  }
  
  .back-button {
    cursor: pointer;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
  }
  
  .user-details {
    flex: 1;
    cursor: pointer;
  }
  
  .user-name {
    margin: 0;
  }
  
  .user-status {
    margin: 0;
    color: green;
  }
  
  .ellipsis-menu {
    cursor: pointer;
  }
  
  /* Styles for the input border on hover */
.ant-input {
  border-width: 2px !important;
}
.ant-select-selection-item {
  color: black !important;
}
.ant-input:hover,
.ant-input:focus {
    box-shadow: none !important;
    border-color: #ffc107 !important;
}
.ant-btn,.ant-input-group-addon {
  border-width: 2px !important;
  background-color: #ffc107;
  cursor: pointer;
}

/* Styles for the button on hover ant-btn-primary */
.ant-btn:hover,
.ant-input-group-addon:hover {
  color: black  !important;
  background-color: white !important;
  border-width: 2px !important;
  border-color: #ffc107 !important;
}

/* Styles for the button icon on hover */
.ant-btn:hover .anticon,
.ant-btn:focus .anticon,
.ant-btn:active .anticon,
.ant-input-group-addon:hover .anticon,
.ant-input-group-addon:focus .anticon,
.ant-input-group-addon:active .anticon {
  
  color: black !important; /* Change icon color to black on hover, focus, and active */
}
  