
.mini-navbar{
  margin-top: 60px;
}

.card-body{
  height: auto;
  max-width: 320px;
  background-color: #f9f9f9;
}
.find-image {
  width: 100%;
  height: auto;
  border-radius: 2px; /* Optional: Add border-radius for rounded corners */
}
.card-link{
  text-decoration: none;
  color: #000000;
}

.-map-horizontal-scroller {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1px;
  margin: 1px;
  margin-bottom: 4px;
  background-color: #ffffff;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.-map-horizontal-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.-map-scroll-content {
  display: inline-block;
}

.-map-scroll-item-one {
  display: inline-block;
  height: auto;
  max-width: 150px;
  max-height: 100px;
  background-color: #f9f9f9;
  color: #000000;
  margin-right: 10px;
  text-align: center;
  line-height: 100px;
  border-radius: 4px;
}
.-map-scroll-item-one img {
  width: 150px;
  height:100px;
}
